.main-hd {
  background: #1b548a;
}

.hd {
  height: 150px;
  color: #ffffff;
}

.hd h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.05px;
}

.hd p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05px;
}

.form-main {
  background-color: #e9f3ff;
}

.title {
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.05px;
  text-align: left;
  color: #002e50;
}

.slot-box {
  background: #ffffff;
  border: 1px solid #002e50;
  border-radius: 4px;
}

.slot-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  color: #002e50;
}

.slot-box-selected {
  background: #cce8ff;
  border: 1px solid #0b7dea;
  border-radius: 4px;
}

.btn-cancel {
  font-family: "Source Sans Pro";
  background: #b1b1b1;
  color: #ffffff;
  font-size: 10pt;
  width: 150px;
}

.btn-make-appointment {
  font-family: "Source Sans Pro";
  background: #eb0323;
  color: #ffffff;
  font-size: 10pt;
  width: 150px;
}

.hd-title {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.05px;
  color: #002e50;
}

.btn-continue {
  font-family: "Source Sans Pro";
  background: #eb0323;
  color: #ffffff;
  font-size: 10pt;
  width: 150px;
}

.doctor-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  text-align: center;
}

.container-info {
  margin-left: 20px;
  align-self: center;
}

.doctor-name {
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.05px;
  color: #002e50;
}

.title-hd {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  color: #002e50;
}

.title-text {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #6c757d;
}

.line-sep {
  border: 1px solid #ced4da;
}

.patient-label {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  color: #6c757d;
}

.patient-text {
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  color: #002e50;
}
