.main-hd {
  background: #1b548a;
}

.hd {
  height: 150px;
  color: #ffffff;
}

.hd h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.05px;
}

.hd p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05px;
}

.line-hd {
  background: #eb0323;
  width: 200px;
  height: 3.19px;
}

.btn-details {
  font-family: 'Source Sans Pro';
  background: #1260a0;
  color: #ffffff;
  font-size: 9pt;
}

.btn-make-appointment {
  font-family: 'Source Sans Pro';
  background: #eb0323;
  color: #ffffff;
  font-size: 9pt;
}

.doctor-card {
  border: none !important;
  min-height: 350px;
  box-shadow: 0px 0px 8px rgba(231, 231, 231, 0.65);
  border-radius: 10px;
}

.doctor-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  text-align: center;
}

.doctor-name {
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #4299e1;
}

.doctor-speciality {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #b1b1b1;
}

.doctor-speciality-text {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #6c757d;
}

.bottom-aligner {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  width: 0px;
}

.btn-search {
  font-family: 'Source Sans Pro';
  background: #eb0323;
  color: #ffffff;
  font-size: 9pt;
  border-color: #1b548a;
}

.btn-submit {
  font-family: 'Source Sans Pro';
  background: #eb0323;
  color: #ffffff;
  font-size: 10pt;
}

.nric-label {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.05px;
  text-align: left;
  color: #002E50;
}
